<ul class="submenu-secundario">
    <li><a href="#" class="links-submenu-secundario">Agenda de Eventos</a></li>
    <li><a href="#" class="links-submenu-secundario">Melhores Momentos</a></li>
    <li><a href="{{ path('fa_site_eventos') }}" class="links-submenu-secundario">Todos os Eventos</a></li>
</ul>