<ul class="submenu-secundario">
    <li><a href="{{ path('fa_site_extensao') }}" class="links-submenu-secundario">Proex - Projetos de Extensão</a></li>
    <li><a href="{{ path('fa_site_formularios') }}" class="links-submenu-secundario">Formulários</a></li>
    <li><a href="{{ path('fa_site_responsabilidade') }}" class="links-submenu-secundario">Responsabilidade Social</a></li>
</ul>