<div id="caixa-destaque-menu">
    <div class="container-fluid">
        <div class="row">
            {% if destaque.texto|default('') != '' and destaque.imagem|default('') != '' %}
                <div class="col-md-6">
                    {{ destaque.texto|raw }}
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('uploads/menu/'~destaque.imagem) }}" 
                         class="imagem-destaque-menu" />
                </div>
            {% elseif destaque.texto|default('') != '' and destaque.imagem|default('') == '' %}
                <div class="col-md-12">
                    {{ destaque.texto|raw }}
                </div>
            {% elseif destaque.texto|default('') == '' and destaque.imagem|default('') != '' %}
                <div class="col-md-6 col-md-offset-3">
                    <img src="{{ asset('uploads/menu/'~destaque.imagem) }}" 
                         class="imagem-destaque-menu" />
                </div>
            {% endif %}
        </div>
    </div>
</div>