<ul class="submenu-secundario">
    <li><a href="{{ path('fa_site_cidade') }}" class="links-submenu-secundario">A Cidade</a></li>
    <li><a href="{{ path('fa_site_mapas') }}" class="links-submenu-secundario">Mapas</a></li>
    <li><a href="{{ path('fa_site_transportes') }}" class="links-submenu-secundario">Transportes</a></li>
    <li><a href="{{ path('fa_site_hoteis') }}" class="links-submenu-secundario">Hotéis</a></li>
</ul>