<ul class="submenu-secundario">
    <li><a href="{{ path('fa_site_informe_semanal') }}" class="links-submenu-secundario">Informe Semanal</a></li>
    <li><a href="{{ path('fa_site_jornais_eletronicos') }}" class="links-submenu-secundario">Jornais Eletrônicos</a></li>
</ul>