<ul class="submenu-secundario">
    <li><a href="{{ path('fa_site_regulamento') }}" class="links-submenu-secundario">Regulamento</a></li>
    <li><a href="{{ path('fa_site_semic') }}" class="links-submenu-secundario">Semic</a></li>
    <li><a href="{{ path('fa_site_revistas') }}" class="links-submenu-secundario">Revistas</a></li>
    <li><a href="{{ path('fa_site_cpa') }}" class="links-submenu-secundario">CPA</a></li>
</ul>